@model IEnumerable<Product>

<div class="rows">
    <div class="col-md-9">
        <p><h6>Product count: @Model.Count()</h6></p>


        @foreach (var p in Model)
        {
            <div class="product-info">
                <img src="~/img/@(p.Productimg).jpg" />
                <h3>@p.Title</h3>
                <ul class="product-props">
                    <li>price: N @p.Price</li>
                    <li>Category: @p.Category </li>
                    <li>Description: @p.Description </li>
                </ul>
                <button id="buybutton">buy</button>
            </div>
        }
    </div>
</div>
<div class="col-md-3">
    <h6>cart under development!</h6>
</div>
           